@page "/app/configuration/navigation"

@inject ISnackbar Snackbar

<div class="content">
    <!-- Page Header: Title and Description -->
    <div class="page-header">
        <div class="page-title">
            <h3>Navigation</h3>
            <h5>Manage Navigation Menus</h5>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <!-- Tab Component -->
            <RadzenTabs @bind-SelectedIndex=@SelactedTabIndex>
                <Tabs>
                    <!-- Tab Item 01: Menu Groups -->
                    <RadzenTabsItem Text="Menu Groups">
                        <!-- MenuGroupCrud component: Manages CRUD operations for Menu Groups -->
                        <MenuGroupCrud></MenuGroupCrud>
                    </RadzenTabsItem>

                    <!-- Tab Item 02: Main Menus -->
                    <RadzenTabsItem Text="Main Menus">
                        <!-- MainMenuCrud component: Manages CRUD operations for Main Menus -->
                        <MainMenuCrud></MainMenuCrud>
                    </RadzenTabsItem>

                    <!-- Tab Item 03: Sub Menus -->
                    <RadzenTabsItem Text="Sub Menus">
                        <!-- SubMenuCrud component: Manages CRUD operations for Sub Menus -->
                        <SubMenuCrud></SubMenuCrud>
                    </RadzenTabsItem>

                    <!-- Tab Item 04: Navigation Menus -->
                    <RadzenTabsItem Text="Navigation Menus">
                        <!-- NavigationMenuCrud component: Manages CRUD operations and menu preview for Navigation Menus -->
                        <NavigationMenuCrud></NavigationMenuCrud>
                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
        </div>
    </div>
</div>

@code {
    #region Properties
    private int SelactedTabIndex { get; set; }

    #endregion

    #region Component Lifecycle
    /// <summary>
    /// Sets the default data for component initialization.
    /// </summary>
    protected override void OnInitialized()
    {
        try
        {
            SelactedTabIndex = 0;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error during component initialization: {ex.Message}");
            Snackbar.Add($"{ex.Message}", Severity.Error);
        }
    }

    #endregion
}
